<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Task-manager</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div th:replace="fragments/header.html"></div>
<div class="main-message">PROJECT UPDATE</div>
<form th:action="@{'/projects/update/' + ${project.id}}" th:object="${project}" method="post">
    <div style="margin-top: 5px">Enter new project name:</div>
    <input type="text" name="name" th:value="${project.name}"/><br/>
    <div style="margin-top: 5px">Enter new project description:</div>
    <input type="text" name="description" th:value="${project.description}"/><br/>
    <input class="button" style="margin-top: 10px" type="submit" value="Update project"/>
</form>
<div th:replace="fragments/footer.html"></div>
</body>
</html>